* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1, h2 {
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

p {
    color: gray;
    font-family: Verdana;
    font-size: 21px;
    margin-bottom: 30px;
    text-align: center;
}

.imagen {
    text-align: center;
    margin-bottom: 40px;
}

a p {
    color:aquamarine;
    font-size: 16px;
    text-align: center;
}

.copyring {
    text-align: right;
    color: gray;
}